:root {
  --primary-color: #1259aa; 
  --secondary-color: #e5f3a8; 
  --accent1-color: #113746; 
  --accent2-color: #e9c46a; 
  --heading-font: "Roboto Flex", "Arial", serif;
  --body-font: Arial, Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 200px;
    padding: 1rem;

}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero h1 {
    position: absolute;
    opacity: 0.7;
}

.hero article {
    position: absolute;
    display: block;
    bottom: 10px;
    background-color: var(--accent1-color);
    opacity: 70%;
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    padding: 1rem;
}