* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

main {
    max-width: 840px;
}


nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

main img {
    width: 150px;
    float: right;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px #ddd;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 200px;
}
aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: black;
}   

.indent {
    padding-left: 2rem;
}