body {
    font-family: Arial;
}

header {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
}

section {
    box-sizing: border-box;
    width: 400px;
    background-color: lightgray;
    padding: 5px 25px 10px 25px;
    margin: 15px 0;
}
section p {
    margin: 10px;
}
section h2 {
    border-bottom: 1px solid #333;
    padding: 2px;
}

footer {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px 0 10px;
    text-align: center;
    margin: 0 auto;
}